<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dawson.provider.service.sys.mapper.SysQuartzLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dawson.provider.service.sys.entity.SysQuartzLog">
        <id column="log_id" property="logId" />
        <result column="bean_name" property="beanName" />
        <result column="create_time" property="createTime" />
        <result column="cron_expression" property="cronExpression" />
        <result column="exception_detail" property="exceptionDetail" />
        <result column="is_success" property="isSuccess" />
        <result column="job_name" property="jobName" />
        <result column="method_name" property="methodName" />
        <result column="params" property="params" />
        <result column="time" property="time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, bean_name, create_time, cron_expression, exception_detail, is_success, job_name, method_name, params, time
    </sql>

</mapper>
